<!-- Standard bootstrap navbar -->
<nav id="navBar" class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 0 4px #2F5061">
	<div class="container-fluid">
		<div id="brandLogo">
			<a class="navbar-brand" href="/"><img src="/logo/jabr-tr.png" alt="JABR" width="100" height="100"></a>
		</div>
		<!-- Nav Elements -->
	    <div class="collapse navbar-collapse" id="navbarNav">
	     	<ul class="navbar-nav">
		        <!-- <li class="nav-item">
		        	<a class="nav-link active" aria-current="page" href="/">Home</a>
		        </li> -->
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
			  	</li>
				<li class="nav-item divider">|</li>
		        <li class="nav-item" id="products">
		          	<a class="nav-link" href="/products">Products</a>
						<div class="dropdown-content" style="height: auto;">
							<a href="/products?d=Produce">Produce</a>
							<a href="/products?d=Snacks">Snacks</a>
							<a href="/products?d=Health and Beauty">Health and Beauty</a>
					  </div>
		        </li>
				<li class="nav-item divider">|</li>
		        <li class="nav-item">
		          	<a class="nav-link" href="/about">About</a>
		        </li>
				<li class="nav-item divider">|</li>
		        <li class="nav-item">
		         	 <a class="nav-link" href="/contact">Contact</a>
		        </li>
		       <!--  <li class="nav-item">
		          	<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
		        </li> -->
		    </ul>
		</div>
		<!-- Search Bar -->
		<div class="search">
			<form class="search-form" id="search-form" action="/products" method="GET">
			  	<input type="text" name="q" id="q" placeholder="Search Catalog">
			  	<button type="submit" id="searchButton"><i class="fa fa-search"></i></button>
			</form>
		  </div>
		<!-- Login/Register || View Cart -->
		<% if (loggedIn) { -%>
			<!-- <form action="/account" method="POST">
      	<button id="account"> Your Account </button>
      </form> -->
			<div id="account">
				<a  class="nav-link" href="/account/<%=user_id%>">
					<i class="fas fa-user-circle navIcon"></i>
				</a>
				<div id="accountOptions" style="height: auto;">
					<a href="/account/<%=user_id%>">Your Account</a>
					<a href="/orders/<%=user_id%>">Your Orders</a>
				  </div>
				
			</div>
			<div>
				<a class="nav-link" href="/account/<%=user_id%>/shoppingcart/">
					<i class="fas fa-shopping-cart navIcon">
					</i>
				</a>
			</div>

		  <form action="/logout" method="POST">
		  	<button id="logout">
		  		<i class="fas fa-sign-out-alt navIcon">
		  		</i>
		  	</button>
		  </form>

    <% } else { %>
    	<div>
				<a class="nav-link" href="/login">Login</a>
			</div>
			<div> or </div>
			<div>
				<a class="nav-link" href="/register">Register</a>
			</div>
		<% } %>
	</div>
</nav>

<!-- <div id="toTop">
	To Top
</div> -->
