<%- include('partials/head')%>
<body class="aboutPage" style="min-height: 80vh;">
	<%- include('partials/navbar') %>
	<div class="parallax"></div>
	<h1>JABR. Up N' Running Since 2021.</h1>
	<div class="small-container">
		<div class="mainLogo">
			<img src="/logo/jabr-tr.png" alt="jabr logo">
		</div>
		<p>
			Hi there! We're JABR, a local-grocery-store-turned-ultra-awesome-online-offline-hybrid-store. <i>Ahem</i>, that is to say,
			we're a locally-owned grocery store located in Saadiyat Island, Abu Dhabi, UAE, and we and we sell things from fresh produce to packaged and frozen food. 
			We've recently expanded our services to this fine part of the Internet realm to provide you with a new-and-improved online shopping experience! 
			Browse our <a href="/products">products</a> and choose delivery or pick up when you place your order–– all within the comfort of your home. 
			<br>
			<br>
			For inquiries, contact us through <a href="/contact">this form</a>. Or just shout for us <i>really</i> loudly. But we'd recommend the former.
		</p>
	</div>
	<%- include('partials/footer') %>
	<script>
        var counter = Math.floor(Math.random() * 4);
        $(document).ready(function(){
            filePath = "url(/img/background" + counter + ".jpeg)";
		    $(".parallax").css({"background-image":filePath});
        });
    </script>
</body>
</html>