<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<h1>About JABR</h1>
	<p>
		We are a locally owned grocery store located at Saadiyat Island in Abu Dhabi, UAE, and we sell things from fresh produce to packaged and frozen food.
	</p>
	<p>
		We have expanded our warehouse operation to the Internet to provide you with a no-contact delivery and pick up service.
	</p>
	<p>
		Browse our <a href="/products">products</a> and choose delivery or pick up when you place your order all within the comfort of your home.
	</p>
	<p>
		For any inquiries, please find more information <a href="/contact">here</a>.
	</p>
	<%- include('partials/footer') %>
</body>
</html>