<%- include('partials/head')%>
<body class="aboutPage">
	<%- include('partials/navbar') %>
	<div class="mainLogo">
		<img src="/logo/jabr-tr.png" alt="jabr logo">
	</div>
	
	<h1>JABR. Up N' Running Since 2021.</h1>
	<p>
		We are a locally owned grocery store located at Saadiyat Island in Abu Dhabi, UAE, and we sell things from fresh produce to packaged and frozen food. 
		We have expanded our warehouse operation to the Internet to provide you with a no-contact delivery and pick up service. 
		Browse our <a href="/products">products</a> and choose delivery or pick up when you place your order all within the comfort of your home. 
		<br>
		<br>
		For inquiries, contact us through <a href="/contact">this form</a>.
	</p>
	<%- include('partials/footer') %>
</body>
</html>