<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<h1>Hit Us Up. We're Always Listening.</h1>
	<div class="main">
		<form>
			<div class="row">
				<div class="twelve">
					<input type="text" placeholder="Name" class="u-full-width" required>
				</div>
			</div>
			<div class="row">
				<div class="twelve">
					<input type="text" placeholder="Email" class="u-full-width" required>
				</div>
			</div>
			<div class="row">
				<div class="twelve">
					<input type="text" placeholder="Inquiry" class="u-full-width" required>
				</div>
			</div>
			<div class="row">
				<div class="twelve">
					<input type="submit" name="" class="button-primary u-full-width" value="Submit">
				</div>
			</div>
		</form>
     	<p>
      		Please call us at 050 123 4567 or email us at help@jabr.com for immediate assistance.
  		</p>
    </div>
	<%- include('partials/footer') %>
</body>
</html>