<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<%- include('partials/flash') %>
	<!-- Header -->
	<header>
		<div class="backgroundImage"></div>
		<div class="container">
			<div class="row">
				<div class="col-2">
					<h1 class="head">Welcome to JABR Online.</h1>
					<p>Enjoy great deals and a comfortable online shopping experience.</p>
					<a href="/products" class="btn">Shop Now →</a>
				</div>
			</div>
		</div>
		<div id="scrollDown">
			<br>
			<br>
			<p>Or Scroll Down for More</p>
			<i class="arrow down"></i>
			
		</div>
	</header>
	<br>
	<br>

	<!-- Featured Categories -->
	<div class="categories">
		<div class="small-container">
			<div class="row">
				<div class="col-3">
					<img src="./assets/category-1.jpg" alt="category 1">
				</div>
				<div class="col-3">
					<img src="./assets/category-2.jpg" alt="category 2">
				</div>
				<div class="col-3">
					<img src="./assets/category-3.jpg" alt="category 3">
				</div>
			</div>
		</div>
	</div>

	<!-- Featured Products -->
	<div class="small-container">

		<h2 class="title">Featured Products</h2>
		<div class="row">
		</div>

		<h2 class="title">Latest Products</h2>
		<div class="row">
		</div>
		<div class="row">
		</div>

	</div>

	<%- include('partials/footer') %>

	<script>
		// change background
	</script>

</body>
</html>