<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<h1>Abraj Home</h1>
	<% for(let x=0; x < 10; x++){%>
		<li> Hello </li>
	<%}%>
	<%- include('partials/footer') %>
</body>
</html>