<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<h1>Abraj Login</h1>
	<div class="main">
      <form>
        <div class="row">
          <div class="twelve">
            <input type="text" placeholder="Username*" class="u-full-width" required>
          </div>
        </div>
        <div class="row">
          <div class="twelve">
            <input type="password" placeholder="Password*" class="u-full-width" required>
          </div>
        </div>
        <div class="row">
          <div class="twelve">
            <input type="submit" name="" class="button-primary u-full-width" value="Login">
          </div>
        </div>
      </form>
    </div>
	<%- include('partials/footer') %>
</body>
</html>