<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<h1>JABR Login</h1>
	<div class="main">
		<form>
			<div class="row">
				<div class="twelve">
					<input type="text" placeholder="Username" class="u-full-width" value="<%=email%>" required>
				</div>
			</div>
			<div class="row">
				<div class="twelve">
					<input type="password" placeholder="Password" class="u-full-width" required>
				</div>
			</div>
			<div class="row">
				<div class="twelve">
					<input type="submit" name="" class="button-primary u-full-width" value="Login">
				</div>
			</div>
		</form>
     	<p>
      		New User? <a href="/register">Register here</a>
  		</p>
    </div>
	<%- include('partials/footer') %>
</body>
</html>