<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<h1>Abraj Register</h1>
	<div class="main">
    <form action="/register" method="POST">
      <div class="row">
        <div class="twelve">
          <input type="text" placeholder="Email" id="email" name="email" class="u-full-width" required>
        </div>
      </div>
      <div class="row">
        <div class="twelve">
          <input type="password" placeholder="Password" id="password" name="password" class="u-full-width" required>
        </div>
      </div>
      <div class="row">
        <div class="twelve">
          <input type="password" placeholder="Re-enter Password" class="u-full-width" required>
        </div>
      </div>
      <div class="row">
        <div class="twelve">
          <input type="submit" class="button-primary u-full-width" value="Register">
        </div>
      </div>
    </form>
    <p>
      Returning User? <a href="/login">Login here</a>
    </p>
  </div>
	<%- include('partials/footer') %>
</body>
</html>