<%- include('partials/head')%>
<body>
	<%- include('partials/navbar') %>
	<h1>One Account. Endless Possibilities.</h1>
    <main id="main_container">
      <div class="form">
        <form id="register-form" action="/register" method="POST">
          <ul class="form-container">
            <li>
              <h2>Create Account</h2>
            </li> 
            <li>
              <label for="name">Name</label>
              <input type="name" name="name" required="" class="u-full-width" id="name">
            </li>
            <li>
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="u-full-width" required>
            </li>
            <li>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required class="u-full-width" autocomplete="on">
            </li>
            <li>
              <label for="re-password">Re-Enter Password</label>
              <input type="password" id="re-password" name="re-password" required class="u-full-width" autocomplete="on">
            </li>
            <li>
              <button type="submit" class="button-primary u-full-width primary" id="register" value="Register">
                Register
              </button>
            </li>
            <li>
              <div>Already have an account?
                <a href="/login"> Sign-In </a>
              </div>
            </li>
          </ul>
        </form>
      </div>
    </main>
    <script>
    	var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password"), email = document.getElementById("email");

		function validatePassword(){
			if(password.value != confirm_password.value) {
		    	confirm_password.setCustomValidity("Passwords Don't Match");
		  	} else {
		    	confirm_password.setCustomValidity('');
		  	}
		}

		function validateEmail(){
			const res = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  			if (res.test(email.value)){
  				email.setCustomValidity('');
			} else {
				email.setCustomValidity("Not a Valid Email");
			}
		}

		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
		register.onclick = validateEmail;

    </script>
  </div>
	<%- include('partials/footer') %>
</body>
</html>